<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>energythreshholds</key>
	<dict>
		<key>medium</key>
		<real>0.1</real>
		<key>high</key>
		<real>0.25</real>
	</dict>
	<key>statussymbols</key>
	<dict>
		<key>I</key>
		<string>❎</string>
		<key>S</key>
		<string>❎</string>
		<key>U</key>
		<string>❎</string>
		<key>R</key>
		<string>▶️</string>
		<key>T</key>
		<string>💤</string>
		<key>Z</key>
		<string>🆘</string>
		<key>default</key>
		<string>⁉️</string>
	</dict>
</dict>
</plist>
